body {
  font-family: $font-primary;
  font-weight: 500;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  color: $primary-color;
  font-weight: 700;
}

/** Main titles */
.site-branding .site-title a {
  font-family: $font-secondary;
}

.site-branding .site-description {
  font-family: $font-secondary;
}

.primary-menu li a {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 0.8rem;
}

.archived-posts article.post-col .entry-title a {
  font-family: $font-secondary;
  font-weight: 500;
  text-transform: none;
  font-size: 1.6rem;
  line-height: 1.4em;
  letter-spacing: 0;
  margin-bottom: 0rem;
}

.single-post .site-main > article > .entry-header .entry-title {
  font-family: $font-secondary;
}

.single-post .site-main > article > .entry-content ul {
  font-family: $font-primary;
}

.page .site-main > article > .entry-header .entry-title {
  font-family: $font-secondary;
}

.navigation.post-navigation .nav-links .entry-title {
  font-family: $font-secondary;
  font-weight: 500;
  text-transform: none;
  font-size: 1.6rem;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

.widget-title {
  font-family: $font-primary;
  font-weight: 700;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0em;
}

/** Secondary titles */
.post-navigation .nav-links .meta-nav {
  font-size: 1rem;
  font-family: $font-primary;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

button,
.custom-button,
.comment-list .reply a.comment-reply-link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: $font-primary;
}

.archived-posts article.post-col .post-meta-item,
.archived-posts article.post-col .post-meta-item a,
.page-header .page-title label {
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1em;
  letter-spacing: 0.1rem;
}

.archived-posts article.post-col .entry-content p,
.page-header .archive-description p {
  font-family: $font-primary;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 1.8em;
  letter-spacing: 0.01em;
}

.single-post .site-main > article .post-meta-item,
.single-post .site-main > article .post-meta-item a,
.single-post-related-post .post-meta-item,
.single-post-related-post .post-meta-item a {
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1em;
  letter-spacing: 0.1rem;
}

.single-post .site-main > article > .entry-content p {
  font-family: $font-primary;
  font-weight: 400;
}

.page .site-main > article > .entry-content p {
  font-family: $font-primary;
  font-weight: 400;
}

.comment-list article.comment-body .comment-content p {
  font-family: $font-primary;
  font-weight: 400;
}
