/** Main titles */
.site-branding .site-title a {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  line-height: 1em;
}

.site-branding .site-description {
  margin-top: 8px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 13px;
  line-height: 1.2em;
}

.primary-menu li a {
  padding: 12px 16px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  color: #000;
}

.archived-posts article.post-col .entry-title a {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
  color: #000;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

.single-post .site-main > article > .entry-header .entry-title {
  margin-top: 16px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #000;
  font-size: 32px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

.page .site-main > article > .entry-header .entry-title {
  margin-top: 16px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #000;
  font-size: 32px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

.navigation.post-navigation .nav-links .entry-title {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: none;
  color: #000;
  font-size: 24px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

.widget-title {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

/** Secondary titles */
.post-navigation .nav-links .meta-nav {
  font-size: 13px;
  color: #999;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

button,
.custom-button,
.comment-list .reply a.comment-reply-link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 16px !important;
  margin-bottom: 0 !important;
  border-width: 0 !important;
  color: #fff !important;
  border-color: rgba(255, 255, 255, 0) !important;
  background: #333 !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 1em;
  text-transform: uppercase;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.archived-posts article.post-col .post-meta-item,
.archived-posts article.post-col .post-meta-item a,
.page-header .page-title label {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1em;
  letter-spacing: 0.2em;
  color: #999;
}

.archived-posts article.post-col .entry-content p,
.page-header .archive-description p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #999;
  font-size: 13px;
  line-height: 1.8em;
  letter-spacing: 0.01em;
}

.single-post .site-main > article .post-meta-item,
.single-post .site-main > article .post-meta-item a,
.single-post-related-post .post-meta-item,
.single-post-related-post .post-meta-item a {
  font-size: 12px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #999;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.single-post .site-main > article > .entry-content p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #808080;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.01em;
}

.page .site-main > article > .entry-content p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #808080;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.01em;
}
