/** Refactor blogasm header style */
#masthead {
  & .nav-bar {
    background-color: transparent !important;
  }
}

.site-branding .custom-logo {
  height: 60px;
}

@media (min-width: 768px) {
  .site-branding .custom-logo {
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .site-branding .custom-logo {
    height: 80px;
  }
}

.website-container,
.outer-container {
  overflow: visible;
}

body.page,
body.single-post {
  header.entry-header {
    position: relative;
    padding: calc(4rem + 4vw) 0;
    margin-bottom: calc(4rem + 2vw);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    @media (max-width: 992px) {
      padding: 1rem 0;
      margin-bottom: 1rem;
    }
    div.header-elements.entry-header {
      position: relative;
      max-width: calc(48rem + 8vw);
      margin: 0;
      padding: 0;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    .post-featured-image {
      position: absolute;
      width: auto;
      height: 400px;
      right: 0;
      top: 50%;
      display: flex;
      align-items: center;
      transform: translateY(-50%);
      @media (max-width: 992px) {
        position: relative;
        width: 100%;
        transform: none;
      }
      img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 6;
        object-fit: cover;
      }
    }

    .header-elements.entry-header {
      max-width: calc(44rem + 8vw);
      margin: 0 auto;
      padding: 0 2rem;
    }
  }
}

.single-post article.have-landscape-img .header-elements,
.single-post article.have-full-width-img .header-elements {
  padding: 0;
}

.page .site-main > article > .entry-content,
.page .site-main > article > .entry-footer,
.page .after-footer-content,
.single-post .site-main > article > .entry-content,
.single-post .site-main > article > .entry-footer,
.single-post .after-footer-content {
  max-width: calc(44rem + 8vw);
  margin: 0 auto;
  padding: 0 2rem;
  @media (max-width: 992px) {
    padding: 0;
  }
}

.page .site-main > article > .entry-header .entry-title,
.single-post .site-main > article > .entry-header .entry-title {
  font-weight: 800;
  letter-spacing: -0.025em;
  font-size: 4rem;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: 992px) {
    font-size: 2.6rem;
  }
}

/** Custom title */
.custom-title {
  font-weight: 800;
  letter-spacing: -0.025em;
  font-size: 4rem;
  line-height: 1;
  text-transform: uppercase;
  -webkit-text-stroke: 2px $accent-color;
  text-stroke: 2px $accent-color;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  margin-bottom: 1.5rem;

  @media (max-width: 992px) {
    font-size: 2.6rem;
  }
}

/** Website Hero */
.homepage-welcome-hero {
  padding: 0 2%;
  width: 100%;
  & > .wp-block-group__inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1440px) {
      flex-direction: column;
    }
  }
  &-title {
    width: 45%;
    margin-right: 5%;
    @media screen and (max-width: 1440px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 3rem;
    }
    .wp-block-group__inner-container {
      max-width: 600px;
    }
    h1 {
      font-weight: 800;
      letter-spacing: -0.025em;
      font-size: 5rem;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      @media (max-width: 992px) {
        font-size: 2.6rem;
      }
      strong {
        -webkit-text-stroke: 2px $accent-color;
        text-stroke: 2px $accent-color;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
      }
    }
  }
  &__last-article {
    position: relative;
    flex: 1;
    &__title {
      position: absolute;
      top: 0px;
      right: -1rem;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: 0.2em;
      transform: rotate(-90deg);
      transform-origin: bottom right;
      padding: 2% 0;
    }
    @media screen and (max-width: 1440px) {
      margin-bottom: 3rem;
    }
    .dps-post-list-wrapper {
      .post-col.landscape-img {
        width: 100%;
        @media screen and (max-width: 1440px) {
          padding-left: 0%;
          padding-right: 0%;
        }
      }
    }
  }
}

/** Footer */
#secondary .widget,
.footer-widgets .widget {
  margin-bottom: 1rem;
}

.footer-widgets {
  background-color: #000;
}

.footer-bar .site-info {
  padding: 1rem 0;
  color: $primary-color;
}

.footer-widgets .widget {
  p {
    font-size: 1rem;
  }
  .widget-title {
    margin-bottom: 0.5rem;
  }
  ul li a {
    font-size: 1rem;
    color: $emphasis-color;
  }
}

/** Mobile navigation */
.hamburger-menu span {
  background: $primary-color;
}

.mobile-navigation.main-navigation {
  pointer-events: none;
  background: #1d1d1d;
  transform: translateX(-480px);
  &.is-active {
    pointer-events: auto;
    transform: translateX(0px);
  }
}

/** Newsletter */
.newsletter {
  &-wrapper {
    margin-top: 3rem;
    width: 100%;
  }
  &-iframe {
    border-radius: 10px;
    background-color: #ffffff;
  }
}
