.page .site-main > article > .entry-content p,
.single-post .site-main > article > .entry-content p {
  font-size: 1.4rem;
  letter-spacing: -0.003em;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.2rem;
  letter-spacing: -0.003em;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.page .site-main > article > .entry-content,
.single-post .site-main > article > .entry-content {
  dl,
  ol,
  ul {
    font-size: 1.4rem;
    letter-spacing: -0.003em;
    line-height: 2.2rem;
    margin-bottom: 2rem;
  }
}

.page .site-main > article > .entry-content,
.single-post .site-main > article > .entry-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 1.5rem;
    margin-bottom: 1rem;
  }
}
code {
  background-color: #1d1d1d;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.2em 0.4em;
  border-radius: 3px;
  text-indent: 0;
  border: none;
  font-size: 85%;
}

pre {
  background-color: #1d1d1d;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  line-height: 1.5rem;
  font-size: 1rem;
  code {
    margin: -0.2em;
    padding: 0.2em;
  }
}

figcaption {
  color: $emphasis-color;
}

.page .site-main > article > .entry-content,
.single-post .site-main > article > .entry-content {
  iframe {
    margin-bottom: 1rem;
  }
}

/** a2a buttons */
.entry-footer {
  .a2a_span {
    float: left;
    margin-right: 0.6rem;
  }
  .a2a_svg,
  .a2a_count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    margin-right: 5px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

/** Entry footer */
.entry-footer {
  justify-content: space-between;
}

/** Tags */
div.entry-footer-tags {
  display: flex;
  align-items: center;
  .entry-footer-tags-title {
    margin-right: 0.6rem;
  }
  .item-sep.comma {
    display: none;
  }
  .tags-links.post-meta-item a {
    position: relative;
    display: inline-block;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    padding: 0 0.8rem;
    background: $accent-color;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0rem;
    color: #fff;
    border-radius: 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    text-transform: none;
    overflow: hidden;
    transition: all ease 0.2s;
    &:hover {
      color: currentColor !important;
    }
  }
}

/** After footer */
.single-post .after-footer-content {
  margin-top: 3rem;
}

/** Comments */
.comment-list {
  article.comment-body {
    position: relative;
    border-radius: 10px;
    background-color: rgba(29, 29, 29, 1);
    border: 2px solid #1d1d1d;
    padding: 32px 48px;
    .comment-meta {
      display: flex;
      flex-wrap: wrap;
      .comment-awaiting-moderation {
        width: 100%;
      }
      .comment-author {
        img.avatar {
          position: absolute;
          top: 32px;
          left: -32px;
          border-radius: 50%;
        }
        .fn {
          font-weight: 600;
          font-size: 1.4rem;
          color: $title-color;
        }
        .says {
          display: none;
        }
      }
      .comment-metadata {
        margin-left: auto;
        a {
          color: $emphasis-color;
        }
        .edit-link {
          margin-left: 1rem;
        }
      }
    }
    .comment-content {
      margin-top: 8px;
      margin-left: 0;
      color: $primary-color;
    }
    .reply {
      margin-top: 16px;
      padding-left: 0;
      a {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0px !important;
        margin-bottom: 0 !important;
        color: $emphasis-color !important;
        border-width: 1px !important;
        border-color: $emphasis-color !important;
        background: transparent !important;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: unset;
        line-height: 1em;
        text-transform: none;
        border-radius: 2rem !important;
      }
    }
  }
  ol.children {
    article.comment-body {
      background-color: rgba(29, 29, 29, 0.2);
    }
  }
  .bypostauthor {
    & > article.comment-body:nth-child(1) .fn a {
      color: $accent-color;
    }
  }
}

/** Comment respond form **/
.comment-respond {
  position: relative;
  border-radius: 10px;
  background-color: #1d1d1d;
  border: 2px solid #1d1d1d;
  margin-top: 24px;
  padding: 32px 48px;
  @media (max-width: 992px) {
    padding: 2rem 1.5rem;
  }
  p {
    margin-bottom: 1rem;
  }
  .comment-notes {
    color: $emphasis-color;
  }
  form {
    label {
      font-size: 1rem;
    }
    input,
    textarea {
      width: 100%;
      max-width: 480px;
      padding: 3px 12px;
      border: 1px solid #1d1d1d;
      border-radius: 10px;
      color: $primary-color;
      background-color: $background-color;
    }
    textarea {
      height: 100px;
    }
  }
  .comment-form-cookies-consent {
    padding: 0;
    margin-left: 0;
    margin-bottom: 2rem;
    label,
    input {
      display: inline;
    }
  }
  .form-submit input {
    width: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0px !important;
    margin-bottom: 0 !important;
    color: $accent-inverse !important;
    border-width: 2px !important;
    border-color: $accent-color !important;
    background: $accent-color !important;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: unset;
    line-height: 1em;
    text-transform: none;
    border-radius: 2rem !important;
    cursor: pointer;
    &:hover {
      background: transparent !important;
    }
  }
}
