$background-color: #121212;
$primary-color: rgba(255, 255, 255, 0.87);
$reading-color: rgba(255, 255, 255, 0.87);
$emphasis-color: rgba(255, 255, 255, 0.6);
$title-color: #ffffff;

$accent-color: #644ed1;
$accent-inverse: rgba(255, 255, 255, 0.87);
